<div>
  <!-- <p>O titulo do projeto é <b>{{ title }}</b> </p>
  <p>{{ numero }}</p> 
  <p>{{ 5 > 3 }}</p>
  <p>{{ title.toLocaleUpperCase() }}</p> -->

  <!--  <input [type]="tipoDoInput" 
  [placeholder]="texto" 
  [disabled]="true" 
  [required]="obrigatorio"> -->
 <!--  <form>
    <mat-form-field appearance="fill">
      <mat-label>Digite seu Nome</mat-label>
      <input matInput placeholder="Ana Carolina" [value]="valorInput" (input)="alterarValor($event)">
    </mat-form-field>
  </form>

  <p>{{valorInput}}</p> -->

  <div>
    <button mat-mini-fab color="accent" (click)="decrementa()">
      <mat-icon>exposure_neg_1</mat-icon>
    </button>
  </div>

  <p>{{valorInput}}</p>

  <div>
    <button mat-mini-fab color="accent" (click)="incrementa()">
      <mat-icon>exposure_plus_1</mat-icon>
    </button>
  </div>

<!--   <button (click)="mostrarSnackBar()">Clique em mim e verá uma menssagem muito legal :)</button> -->
</div>